.infobanner {
  padding: 0;
  margin: 0;
  border: 0;
  }
  
  .infobanner_container {
  margin: 0;
  padding: 0;
  width: 90%;
  }
  

  .infobanner_image_container::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  top: 0;
  width: auto;
  height: 500px;
  overflow: hidden;
  }
  
  .infobanner_image_container {
  height: 100%;
  position: relative;
  overflow: hidden;
  text-align: left;
  z-index: 1;
  }
  
  .infobanner_image_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  }
  
  .infobanner_text_wrapper {
  background-color: transparent;
  color: white;
  display: flexbox;
  font-size: large;
  margin: 0;
  max-width: 80%;
  }
  
  .infobanner_heading {
  font-size: 2rem;
  margin-top: 0;
  }
  
  .infobanner_title {
  font-size: 1.5rem;
  margin-top: 0;
  }
  
  .infobanner_body {
  font-size: 1rem;
  margin-top: 0;
  }
  
  .infobanner_image_container {
  height: 100%;
  position: relative;
  /* overflow: hidden; */
  text-align: left;
  z-index: 1;
  }
  
  .infobanner_image_container::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  }
  
  .infobanner_image_container img {
  display: flex;
  height: 100%;
  width: 101%;
  }
  
  .infobanner_text_container {
  background-color: transparent;
  color: black;
  height: 100%;
  left: 15%;
  padding: 1rem;
  position: absolute;
  top: 10%;
  width: 30%;
  z-index: 2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
  
  .infobanner_card_footer {
  bottom: -50px;
  left: 20px;
  position: absolute;
  text-decoration: none;
  }
  
  .infobanner_learn_more_button {
  background-color: cornflowerblue;
  border: none;
  border-radius: 8px;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 16px;
  }
  
  .infobanner_learn_more_button:hover {
  background-color: lightskyblue;
  }