.prodserv_container {
  color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: fit-content;
  border-radius: 8px;
  /* border: 1px solid gray; */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); */
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  padding: 20px;
  margin-top: 10px; /* adjust as needed to account for header height */
  margin-bottom: 30px;
  margin-left: -10%;
  margin-right: -10%;
  max-width: 100%;
}

.prodserv_card {
  position: relative;
  color: black;
  display: inline-flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 20px;
  width: 280px;
  height: 400px;
  font-size: medium;
  text-align: left;
  /* border: 1px solid blue; */
  flex: 1 1 auto;
  max-width: 30em;
  margin: 10px;
  scale: 0.9;
  box-shadow: 1px 1px 0px 2px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.prodserv_card:hover {
  transform: scale(1.05) translateZ(10px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.iconImg {
  
  position: absolute;
  top: 10px;
  left: 10px;
  height: 80px;
  width: 80px;
}

  .prodserv_card_header {
    margin-top: 100px;
    font-size: larger;
  }
  
  .prodserv_card-title {
    margin-top: 0;
    margin-bottom: 16px;
    
  }
  
  .prodserv_card-link {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px; /* adjust this value as needed */
    }
  
  .prodserv_card-link:hover {
    text-decoration: underline;
  }
  

  .prodserv-card-footer {
    width: 300px;
    font-size:x-small;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .prodserv_learn_more_button {
  
    display: flex;
    background-color: cornflowerblue;
    color: white;
    border: none;
    bottom: 10px;
    left: 0;
    margin: 0px 0px 20px 20px;
    position: absolute;
    padding: 10px ;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

  
  .prodserv_learn_more_button:hover {
    color:  black;
    opacity: 0.6;
    /* transform: scale(1.05) translateZ(10px); */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .product_service_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid ghostwhite;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  


  
  /* .prodserv-card-align {
    border: 1px solid red;
   
    width: 100%;
  } */