/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */


#footerContainer {
    display:flex;
    background-color: #ebf8ff;
    font-weight: 300;
    padding: 32px;
    width: 100vw;
    min-width: 440px;
    margin-left: auto;
    margin-right: auto;
    color: #718096;
    border: 1px solid orange;
}

.footerInner {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

.footerInnerFlex {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    min-width: 440px;
}

.footerTextBlock {
    display: fluid;
    padding: 1rem;
    flex-wrap: wrap;
    word-wrap:wrap;
    margin-right: 0;
    width: 25em;
    text-align: left;
}

.footerHeader {
    font-weight: 500;
    color: #1d4ed8;

    display: inline-block;
    margin-bottom: 1.5rem;
    margin-right: auto;
    font-size: 1.875rem;
    color: #2563eb;
    text-transform: uppercase;
    text-decoration: none;
}

.footerParagraph {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    text-align: left;
}

.icons {
    display: flex;
    flex: flex-wrap;
}

.iconsInner {
    flex-wrap: wrap;
    display: inline-flex;
    margin-left: 0.75rem;
    margin-bottom: 1rem;
}

.footerInfoBlocks {
    /* border: 1px solid red; */
    display: inline-block;
    /* padding: 1rem; */
    width: 20em;
    margin: 10px;
    flex-wrap:nowrap;
}

@media (max-width: 440px) {
    .footerInfoBlocks {
      width: 100px;
    }
  }