:root {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
}

html {

  min-width: 440px;

}

body {
  background: linear-gradient(to bottom right, #6495ED, #8ccff8);
  min-width: 440px;
  width: 100vw;
}



@media screen and (max-width: 440px) {
  :root {
    width: max-content;
  }
  body {
    width: 440px;
  }
}